# Interface web
streamlit>=1.30.0

# Manipulation et analyse de données
pandas==2.0.3
numpy>=1.26

# Visualisation
matplotlib==3.8.0

# Requêtes HTTP
requests>=2.31

# Machine Learning
scikit-learn>=1.3
