# Interface web
streamlit>=1.30

# Manipulation et analyse de données
pandas=2.4.4
numpy>=1.26

# Visualisation
matplotlib==3.8.0

# Requêtes HTTP
requests>=2.31

# Machine Learning
scikit-learn>=1.3

